

.content-block {
    padding-top: 100px;
}

.time-stamps-row {
    margin-top: 30px;
    overflow-x: auto;
    white-space: nowrap;
}

.btn-group > button.btn.time-stamp-button{
  float:none!important;
}
